
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Lobster&family=Lobster+Two&family=Righteous&display=swap');

#textIslam{
    color: rgb(69, 228, 69);
}
#brandDEENISLAM{
    font-family: 'Righteous', cursive;
}
#navbarArea{
    border-bottom: 2px solid rgb(69, 228, 69);
    width: 100%;
}
.navOptions{
    color: black;
    font-family: "Cuprum", cursive;
    align-items: center;
    
}
.navOptions:hover{
    background-color: rgb(218, 255, 216);
    color: Black;
    border-radius: 5px;
    text-decoration: none;
    padding: 0px 5px;
    border-bottom: 2px solid rgb(56, 228, 56);
}
#QuranImage1Div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#QuranImage1Div img{
    width: 80%;
    margin: 5%;
    border-radius: 10px;
}

/* quran.html */
/* #SurahShortDetails{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 5% 5%;
    padding: 1.5% 5%;
    box-shadow: 3px 3px 5px grey;
    border-radius: 5px;
} */
.SurahShortDetails{
    width: 40%;
    margin: 3% 5%;
    padding: 1.5% 5%;
    box-shadow: 1px 1px 5px grey;
    border-radius: 5px;
}